.nav-btn {
  width: 100%;
  text-align: left;
  padding: 8px;
  border-radius: 6px;
}
.nav-btn:hover {
  background: #1e293b;
}

.card {
  background: #020617;
  padding: 16px;
  border: 1px solid #1e293b;
  border-radius: 10px;
}

.input {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 8px;
  border-radius: 6px;
}

.table {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #1e293b;
}